<p>
  <strong>Sku:</strong>
  <%= @product."SKU"%>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @product.barcode%>
</p>

<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @product.price %>
</p>

<%= link "Back", to: Routes.product_path(@conn, :index) %>
